body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background: rgba(208, 252, 255, 1);
}

h1, p, div, button, label {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 55px;
    width: 100vw;
    display: flex;
}

nav  a {
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: black;
    line-height: 55px;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: black;
    padding: 0 10px;
}

h2 {
    padding: 0;
}

h4 {
    margin: 5px 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.centered {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.show {
    display: block;
}

.bold {
    font-weight: 700;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify {
    justify-content: space-around;
}

.game {
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    max-width: 740px;
}

.messages {
    width: 100%;
    margin-bottom: 10px;
}

h2.message {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.message {
    font-size: 1.4em;
}

.lobby {
    display: flex;
}

.lobby hr {
    width: 100%;
    margin: 16px 0;
}

.new-room, .join-room-button {
    width: 116px;
}

.start-room, .end-room, .leave-room, .draw-cards {
    width: 90px;
    margin: 0 2px;
}

.new-room, .join-room-button, .start-room,
.end-room, .leave-room, .draw-cards {
    height: 34px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 0 4px;

    font-size: 1.1em;
}

.join-room-input {
    width: 106px;
    height: 34px;
    margin-bottom: 5px;
    padding: 4px;
    border: 1px solid darkgray;
    border-radius: 5px;

    font-size: 1.2em;
}

.scene {
    display: flex;
    flex-direction: row;
}

@media(max-width: 400px) {
    .scene {
        flex-direction: column;
    }
}

.options {
    border: 5px outset black;
    border-radius: 10px;
    padding: 5px;
    max-width: 400px;
    min-width: 300px;
    min-height: 200px;
    background: rgba(208, 252, 255, 1);
}

.cards {
    flex-wrap: wrap;
    border: 5px outset black;
    border-radius: 10px;
    padding: 5px;
    max-width: 400px;
    min-height: 200px;
    justify-content: flex-start;
    background: rgba(208, 252, 255, 1);
}

.card {
    margin: 10px 0;
    flex-basis: 24%;
}

.card > div, .example-card {
    width: 56px;
    height: 89px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
    background-color: white !important;
}

.active-card {
    box-shadow: 0 0 8px black;
}

.active-card > div {
    border: 2px;
}

.players {
    min-width: 100px;
    min-height: 200px;
    border: 5px outset black;
    border-radius: 10px;
    padding: 3px;
    background: rgba(208, 252, 255, 1);
}

.players-title, .options-title {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    margin-bottom: 5px;
    line-height: 40px;
}

.player {
    justify-content: space-between;
    font-size: 1.2em;
}

.player-name:after {
    content: ":";
}

.controls {
    justify-content: center;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    margin: 55px 0 40px;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 600px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

@media(max-width: 400px) {
    .instructions {
        width: 90vw;
    }
    .instructions > div {
        padding-right: 10px;
    }
}

.instructions > header {
    display: flex;
    justify-content: space-between;
}

.instructions > header > h2 {
    margin-top: 0;
}

.instructions > div {
    overflow-y: scroll;
}

.example-cards {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.example-one-card-one {
    background: url(../img/shapes.png) no-repeat 0px 0px;
}
.example-one-card-two {
    background: url(../img/shapes.png) no-repeat -56px 0px;
}
.example-one-card-three {
    background: url(../img/shapes.png) no-repeat -112px 0px;
}

.example-two-card-one {
    background: url(../img/shapes.png) no-repeat 0px 0px;
}
.example-two-card-two {
    background: url(../img/shapes.png) no-repeat -56px -356px;
}
.example-two-card-three {
    background: url(../img/shapes.png) no-repeat -112px -712px;
}

.example-three-card-one {
    background: url(../img/shapes.png) no-repeat 0px 0px;
}
.example-three-card-two {
    background: url(../img/shapes.png) no-repeat -56px -178px;
}
.example-three-card-three {
    background: url(../img/shapes.png) no-repeat -112px -356px;
}

.matching { 
    border-right: 1px dashed black;
}
.matching, .distinct {
    flex-basis: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
}
.matching > p, .distinct > p {
    margin: 5px 0;
}

.close {
    align-self: flex-start;
    background: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none;
}

footer {
    height: 40px;
    width: 100vw;
    
}

.copyright {
    margin: 10px auto;
    text-align: center;
}