body {
    margin: 0;
    padding: 0;
}

h1, p, div, button, label {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}

.centered {
    text-align: center;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify {
    justify-content: space-around;
}

.game {
    display: flex;
    padding: 0 10px;
}

.lobby {
    display: flex;
    font-size: 1.5em;
}

.cards {
    flex-wrap: wrap;
}

.card {
    margin-bottom: 10px;
    flex-basis: 24%;
}

.card > div {
    width: 56px;
    height: 89px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}

.active-card {
    box-shadow: 0 0 4px gold;
}

.players {
    min-width: 80px;
}

.player {
    justify-content: space-between;
}

.player-name:after {
    content: ":";
}

.controls {
    justify-content: center;
}