body {
    margin: 0;
    padding: 0;
}

h1, p, div, button, label {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    padding: 0;
}

.centered {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify {
    justify-content: space-around;
}

.game {
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
    max-width: 740px;
}

.messages {
    width: 100%;
    margin-bottom: 10px;
}

h2.message {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.message {
    font-size: 1.4em;
}

.lobby {
    display: flex;
}

.lobby hr {
    width: 100%;
    margin: 16px 0;
}

.new-room, .join-room-button, .start-room,
.end-room, .leave-room, .no-matches {
    width: 116px;
    height: 34px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 0 4px;

    font-size: 1.1em;
}

.join-room-input {
    width: 106px;
    height: 34px;
    margin-bottom: 5px;
    padding: 4px;
    border: 1px solid darkgray;
    border-radius: 5px;

    font-size: 1.2em;
}

.cards {
    flex-wrap: wrap;
    border: 5px outset black;
    border-radius: 10px;
    padding: 5px;
    max-width: 400px;
    justify-content: flex-start;
}

.card {
    margin-bottom: 10px;
    flex-basis: 24%;
}

.card > div {
    width: 56px;
    height: 89px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}

.active-card {
    box-shadow: 0 0 4px gold;
}

.players {
    min-width: 90px;
    border: 5px outset black;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 22px;
}

.player {
    justify-content: space-between;
    font-size: 1.2em;
}

.player-name:after {
    content: ":";
}

.controls {
    justify-content: center;
    margin-top: 10px;
}